@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pink: #FFB6C1;
  --green: #90ee90;
  --white: #dddddd;
}
.gradient-pink-green {
  background:
    radial-gradient(at top left, 
    var(--green),
    transparent 10%),
    radial-gradient( at top left,
      var(--pink) 30%, var(--green), 
      transparent 90%),
    radial-gradient(circle at top right,
      white, var(--green),
      transparent 60%)
}

.gradient-white {
  background: 
  radial-gradient(at top left, 
  var(--white),
  transparent 10%),
  radial-gradient( at top left,
    var(--white) 30%, white, 
    transparent 90%),
  radial-gradient(circle at bottom left,
    white , var(--white), 
    transparent 64%),
  radial-gradient(circle at bottom right,
    var(--white), var(--white), 
    transparent 50%),
  radial-gradient(circle at top right,
    white, var(--white),
    transparent 60%)
}
